.header_logo{
    font-size: 36px;
    font-weight: 800;
    margin-left: 200px;
}
.header_side{
    display: flex;
    justify-content: space-between;
    width: 244px;
    margin-top: 50px;
}
.header_one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;

}
.eng{
    display: flex;
    gap: 5px;

}
.eng img{
    margin-top: 3px;
}
.eng p{
    margin-top: 3px;
}
.header{
    color:white;
    display:flex;
}

.cart-box{
    cursor:pointer;
    font-size:20px;
    margin-left: 5px;
}

.cart-count{
    left: 1460px;
    position: absolute;
    background:gray;
    color:white;
    padding:2px 6px;
    border-radius:50%;
    font-size:12px;
   
}

.cart-item{
    display:flex;
    align-items:center;
    gap:10px;
    border-bottom:1px solid #ddd;
    padding:10px 0;
}

.cart-item img{
    width:160px;
    height:170px;
    border-radius: 10px;
 box-shadow:0 2px 6px rgba(0,0,0,0.2);

}
.cartmain{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.qty-btn{
    padding:2px 6px;
    cursor:pointer;
}
.itemcounts{
   
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
     box-shadow:0 2px 6px rgba(0,0,0,0.2);
     border-radius: 10px;
       font-size: 24px;
       padding: 5px;
    font-weight: 700;
        margin-top: 10px;
        

}
.itemcounts button{
    width: 20px;
        margin-top: 0px;

  
}

.remove {
  color:#da190b; 
  border: none; 
  cursor: pointer; 
  font-size: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;


}
#totalPrice{
    text-align: center;
    color: rgb(67, 167, 67);
    font-size: 20px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 10px;
    

}
.products{
    display:flex;
    justify-content:center;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap:20px;
    padding:20px;
}

.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:white;
    width:370px;
    height: 550px;
    border-radius:6px;
    box-shadow:0 2px 6px rgba(0,0,0,0.2);
    padding:10px;
    text-align:center;
}

.product-card img{
    width:300px;
    height:399px;
    padding-left: 40px;
}

.product-card h3{
    font-size:16px;
}

.price{
    color:green;
    font-weight:bold;
}

button{
    width:100%;
    background:#ff9f00;
    border:none;
    padding:8px;
    border-radius:4px;
    cursor:pointer;
    margin-top:8px;
}

.cart-popup{
    position:absolute;
    top:70px;
    right:20px;
    width:450px;
    background:white;
    box-shadow:0 4px 10px gray;
    padding:15px;
    display:none;
    border-radius:6px;
}

.cart-products{
    display:flex;
    flex-direction:column;
    gap:10px;
}

#cart-card{
    display:flex;
    flex-wrap: wrap;
     grid-template-columns: auto auto ;
     display: grid;
    gap:10px;
    align-items:center;
    border-bottom:1px solid #ddd;
    padding-bottom:8px;
     font-size: 20px;
}

#cart-card img{
    width:160px;
    height:160px;
    object-fit:contain;
}
.remove{
    width: 150px;
}
nav{
    width: 1248px;
    height: 88px;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    margin: auto;

}
.container_two{
    display: flex;
    align-items: center;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top:15px;
}
.nav_container img{
    width: 16px;
    height: 16px;
    margin-top: 15px;
}
.nav2,.nav3{
    display: flex;
    gap: 10px;
}
.text1{
    font-weight: bold;
}
.nav2{
    padding-right: 700px;
    font-family: "Adobe Caslon Pro";
}
.header_two{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}

.header_two1{
    display: flex;
    width: 700PX;
    gap: 64px;
    justify-content: center;
}
header{
    border-bottom:1px solid #E5E5E5 ;
}

#mainProduct_containerproducts{
     display: grid;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  line-height: 50px;
}

/*footer*/

footer{
    width: 1440px;
    height: 750px;
    background-color: #000000;
    margin: auto;
    color: #FFFFFF;
}


.foter_cont1{
    padding-top: 79px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.foter_cont2{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.CONTACT{
    margin-left: 176px;
}
.bethe input{
    width: 384px;
    height: 47px;
    font-size: 18px;
    padding-left: 20px;

}
.bethe button{
    width: 184px;
    height: 54px;
    font-size: 22px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 30%;
    border: 1.14px solid #FFFFFF ;

}
.address{
    font-size: 16px;
}
.currency{
    font-size: 20px;
    font-weight: 800;
}
.image_usd{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}
.paracontact{
    font-size: 12px;
    letter-spacing: 0px;
}
.footer_imagelast {
    gap: 5px;
}
.footer_imagelast{
    display: flex;
    align-items: center;
}
.imgWhite{
    width: 56px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.footer_imagelast div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgVoilet{
    background-color: #5A31F4;
     width: 56px;
    height: 35px;
    border-radius: 5px;
}

